<!DOCTYPE html>
<html data-bs-theme="dark">
<%- include('head'); %>
  <body>
  <a class="btn btn-outline-primary mb-5" href="/settings">Settings</a>
  <%- include('device/devices', { devices: devices, settings: settings }); %>
  <hr>
  <%- include('alarms', { alarms: alarms }); %>
  <hr>
  <%- include('receivers', { receivers: receivers, settings: settings }); %>

  <%- include('scripts'); %>
  </body>
</html>