<!DOCTYPE html>
<html data-bs-theme="dark">
<%- include('head'); %>
  <body>
  <%- include('device/devices', { devices: devices }); %>
  <hr>
  <%- include('alarms'); %>
  <hr>
  <%- include('data'); %>

  <%- include('scripts'); %>
  </body>
</html>